<mat-toolbar style="background-color: #b52525; color: white;">Online Pizza App</mat-toolbar>


<mat-accordion>
  <mat-expansion-panel *ngFor="let pizza of pizza_types"  style="    margin-top: 9px;">
    <mat-expansion-panel-header>

      <mat-panel-title>
        <mat-checkbox>{{pizza.pizza_name}}</mat-checkbox>
      </mat-panel-title>

      <mat-panel-description>
        <h5>Price: {{pizza.price}}</h5>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-panel-description>
      <img src="{{pizza.imageURL}}" >
    </mat-panel-description>

    <mat-panel-description>
      <h3>Ingradients:</h3>  <h4>{{pizza.ingradients}}</h4>
    </mat-panel-description>

    <mat-panel-description>
      <h3>Size:</h3>  <h4>{{pizza.size}}</h4>
    </mat-panel-description>

    <mat-panel-description>
      <h3>Veg/Nonveg:</h3>  <h4>{{pizza.veg}}</h4>
    </mat-panel-description>

    <mat-panel-description>
      <h3>Curst:</h3>  <h4>{{pizza.curst}}</h4>
    </mat-panel-description>

    <mat-panel-description>
     <button style="    background-color: #b52525;color: white; margin-left: 400px;"
             mat-button (click)="openDialog()">Place order</button>
    </mat-panel-description>

  </mat-expansion-panel>

</mat-accordion>
